.container {
  background-color: #E6E6E6;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.content {
  display: flex;
  width: 75%;
  height: 100vh;
  background-color: tomato;
  flex-direction: column;
}

.principal {
  width: 100%;
  height: 85%;
  display: flex;
}

.barraLateral {
  background-color: #10151A;
  width: 25%;
  height: 85vh;
}

.mainContent {
  background-color: #333E4D;
  width: 75%;
}

.controles {
  background-color: #282828;
  width: 100%;
  height: 15vh;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

.audioDetails {
  background-color: teal;
}

.audioControls {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.play {
  display: block;
  color: #ffffff;
}

.mute {
  color: #ffffff;
}

.volumeControls {
  
  display: flex;
  align-items: center;
  justify-content: center;
}

.currentAudio {
  display: flex;
  width: 100%;
  justify-content: center;
  color: #ffffff;
}

.time {
 width: 50%;
}
