.container {
  background-color: #E6E6E6;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.content {
  display: flex;
  width: 75%;
  height: 100vh;
  background-color: tomato;
  flex-direction: column;
}

.principal {
  width: 100%;
  height: 85%;
  display: flex;
}

.barraLateral {
  background-color: #10151A;
  width: 25%;
  height: 85vh;
}

.mainContent {
  background-color: #333E4D;
  width: 75%;
  display: flex;
  flex-direction: column;
}

.musicsTitle {
  margin: 0 auto;
  color: #e6e6e6;
}

.topMenu {
  height: 100px;
  width: 100%;
}

.musicContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  margin: 0 50px;
  align-items: center;
}

.musicDetails {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 100%;
  width: 100%;
}

.musicImage {
  width: 100%;
  background-size: cover;
}

.musicContail {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.musicContail h4 {
  color: #686C71;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

.controles {
  background-color: #282828;
  width: 100%;
  height: 15vh;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}

.audioDetails {
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.audioDetails img {
  width: 10vh;
  height: 10vh;
  background-size: cover;
}

.audioDetails h4 {
  margin-left: 20px;
  color: #e6e6e6;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}

.audioControls {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.play {
  appearance: none;
  display: flex;
  color: #4b4b4b;
  font-size: 40px !important;
  height: 100px;
  width: 100px;

}


.mute {
  color: #ffffff;
  font-size: 40px !important;
  color: #4b4b4b;
}

.volumeControls {
  display: flex;
  align-items: center;
  justify-content: center;
}

.currentAudio {
  display: flex;
  width: 100%;
  justify-content: center;
  color: #4b4b4b;
}

 .time {
  -webkit-appearance: none;
  appearance: none;
  width: 50%;
  opacity: 1;
  outline: none;
  background-color: #282828;
  margin: 0 20px;
  border-radius: 0;
}

.time::-webkit-slider-runnable-track {
  background-color: #393939;
  height: 5px;
}

.time::-webkit-slider-thumb {
appearance: none;
-webkit-appearance: none;
background: #5c5c5c;
height: 5px;
width: 5px;
}

.volume {
  -webkit-appearance: none;
  appearance: none;
  width: 50%;
  opacity: 1;
  outline: none;
  background-color: #282828;
  margin: 0 20px;
  border-radius: 0;
}

.volume::-webkit-slider-runnable-track {
  background-color: #393939;
  height: 5px;
}

.volume::-webkit-slider-thumb {
appearance: none;
-webkit-appearance: none;
background: #5c5c5c;
height: 5px;
width: 5px;
}



